/*Limpar formatação padrão.*/

*{
	margin: 0;
	padding: 0;
}

/*Aqui é formatado os textos da pagina.*/
body {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3; /*fundo cinza da pagina*/
}

#navegacao {
	background: grey;
	border-bottom: 1px solid #d8d8d8; 
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
}


#area {
	width:920px;
	margin: 0 auto;
	
}

#area-principal {
	width: 920px;
	margin: 55px auto 10px auto;
	margin-top: 10px;

	

}

.icone{

	float: right;
	width: 40px;
	height: 20px;
	
	
	
}

/*Aqui configura o logo a esquerda*/
#logo {
	float: left;
	text-shadow: 1px 1px 1px white;
}
.logotipo{
	float:left;
	width: 35px;
	height: 25px;
	padding: 8px;


}

/*Aqui configura o menu a direita*/
#menu{
	float: right;
	margin: 10px 0px;/*alinha o menu no meio*/
	background: ##b9c941;
	


}

#postagem {
	background: #ffffff;
	padding: 10px;
	margin-bottom: 10px;
}

h2{
	color: #b9c941;
	text-align: center;
}

h3 {

	text-align: center;
}



/*Aqui eu configurei a minha lista não ordenada*/
.list {
		text-indent: 30px;
            margin: 30px;
}



table {

	 margin:auto; /* alinha a tabela ao centro.*/
}

td{
	 color:blue;
}
/****************************************
 **********Formatação do menu ***********/

 a {
 	text-decoration: none;
 	padding: 5px 10px;


 }

 p:focus{
 	background:#eee;
 	outline: 1px solid #ccc;
 }

 /*Links não visitados*/
 .link:link {
 		color:orange;
 }

 /*Links Visitados*/

 .link:visited{
 	color: orange;
 }

/* links hover, ao passsar o mouse muda a cor.*/
 .link:hover {
 	color:#fff;
 	background:#b9c941;
 	}

 	/*Navegação via teclado*/
 .link:focus{
 	color:#C00;
 	background:#fff;
 	outline: 5px solid #C00;

 }

/* Links ativos*/
 .link:active {
 	color: #535353;
 }

.verde {
	color: orange;
}
.cor{
	color: #b9c941;
}

.data-postagem{
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;/*transforma a tag spam que é um elemento inline em elemento block.*/
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.img-postagem{
	float: left;
	margin:0 10px 5px 0;
}

.postado{
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}
